    <div>
            <h1>Message</h1>
            <h2>{{ data.messageData['first_name'] }} {{ data.messageData['last_name'] }} {{ data.messageData['created_at'] }}</h2>
            <h2>{{ data.messageData['mail'] }}</h2>
            <h2>{{ data.messageData['message'] }}</h2>
            <h2>{{ data.messageData['status'] }}</h2>
{#        {{ data.pageInfo }}#}
        <a class="btn btn-warning" href="/messages">Back to message list</a>
    </div>