
{% block body %}
    <a class="btn btn-success" href="/login/signout">signout</a>
    <a class="btn btn-primary" href="/">Contact Us</a>
    {#    {% posts[0].title %}#}
    <h1>Messages</h1>

        {% for post in data.messageData %}
            <div {% if post.status == 1 %}  style="background-color: green !important;" {% endif%} class="message">
            <h2>{{post.id}} {{post.first_name}} {{ post.last_name }} {{ post.mail }}</h2>
                {% if post.message|length > 600 %}
                        <h3 class="text-justify">{{ post.message|slice(0,600) }}</h3>
                {% else %}
                   <h3>{{ post.message }}</h3>
                    {% endif %}
            <a href="/messages/post/{{ post.id }}">read more</a>
            {% if post.status == 0  %}
                unread
                {% else %}
                read
            {% endif %}
            <form action="/messages/delete/" method="POST">
                <input  type="hidden" name="delete_file" value="{{ post.id }}">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            </div>
        {% endfor %}

            {% if data.pageCount < 20 %}
                {% for i in range(0, data.pageCount) %}
                    {% if i > 0 %}
                        <a class="{% if data.pageInfo == i %}active{% endif %}" href="/messages/page/{{ i }}">{{ i }}</a>
                        {#                    <a class="{% if data.pageInfo == i %}active{% endif %}" href="/messages/page/{{ i }}">{{ i }}</a>#}
                    {% endif %}
                {% endfor %}

            {% endif %}

            {% for page in data.pageCount %}
                {{ page }}
            {% endfor %}
{#            {{ data.pageInfo }}#}
{#            {{ data.pageCount }}#}

{% endblock %}